adjustText==0.7.3
backcall==0.2.0
certifi==2022.12.7
cffi==1.14.0
combat==0.2.0
cycler==0.10.0
decorator==4.4.2
docutils==0.16
et-xmlfile==1.0.1
future==0.18.3
idna==2.8
intervaltree==3.0.2
ipykernel==5.3.1
ipython==8.10.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.17.1
jeepney==0.4.3
joblib==1.2.0
jsonschema==2.6.0
jupyter-client==6.1.5
jupyter-core==4.11.2
keyring==21.2.1
kiwisolver==1.1.0
llvmlite==0.33.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mpmath==1.3.0
ndg-httpsclient==0.5.0
numba==0.50.1
numpy==1.22.0
olefile==0.46
openpyxl==3.0.5
openslide-python==1.1.1
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.5.0.1
progressbar2==3.43.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pyasn1==0.4.3
pycparser==2.20
pyOpenSSL==18.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
pyzmq==19.0.1
readme-renderer==26.0
requests==2.22.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rpy2==3.1.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
SecretStorage==3.1.2
simplegeneric==0.8.1
skorch==0.9.0
sortedcontainers==2.2.2
statannot==0.2.3
tabulate==0.8.7
termcolor==1.1.0
torch==1.13.1
torchvision==0.2.2
tornado==6.3.2
tqdm==4.46.1
traitlets==4.3.3
twine==3.2.0
umap-learn==0.4.6
wcwidth==0.2.5
webencodings==0.5.1
xarray==0.15.1
xlrd==1.2.0
